### Terraform
.terraform/
*.tfstate
*.tfstate.*
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfstate.backup

### Kubernetes Secrets & Environment Files
*-secret.yaml
*-secret.yml
*-private-key.yaml
*-private-key.yml
*.env*
*.pem
*.key

# Do not ignore template/example files
!*.example.yaml
!*.example.yml